<plugin name='salesforce' version='0.6' grailsVersion='1.1.1 &gt; *'>
  <author>Zenon Rawley / Carlos Munoz</author>
  <authorEmail>force@riptide.com</authorEmail>
  <title>Grails Salesforce Plugin</title>
  <description>Provides connectivity to a salesforce instance.
</description>
  <documentation>http://grails.org/Salesforce+Plugin</documentation>
  <resources>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>spring.resources</resource>
    <resource>UrlMappings</resource>
    <resource>com.riptideforce.sfdc.SalesForceBaseService</resource>
    <resource>com.riptideforce.sfdc.SalesForceCodeGenService</resource>
    <resource>com.riptideforce.sfdc.SalesForceService</resource>
  </resources>
  <dependencies />
</plugin>